* {
	padding: 0;
	margin: 0;
	box-sizing:  border-box;
}

/*error page*/
.error{
  text-align: center;
  justify-content: center;
}

.errormsg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.bgimg{
  background-image: url(https://pickupimage.com/data/photo/2021/4/23/0423212-F0A2-4039-B04AEC297378FB53.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.alignment{
  flex: 2;
}

.brandName{
  font-size: 50px !important;
}

.navLink{
  font-size: 20px !important;
}

.backGround{
  vh: 100% !important;
  vw: 100% !important;
}

.contentPM{
  padding-left: 100px;
  padding-top: 50px;
}

.homeCarousel{
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 90%;
}

.hc{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}